<div class="container d-flex justify-content-center">

<div class="col-md-6 col-md-offset-3">
<h1 class="my-2 d-flex justify-content-center">Edit Hotel</h1>

<%= render "hotels/form" %>
 </div>

 </div>